<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Add a Book{% endblock %}
    
    {% block content %}
    {% if request.user.is_staff %}
        <form action="/book_list/create/" method="post">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <br>
            <label for="isbn">ISBN:</label>
            <textarea id="isbn" name="isbn" required></textarea>
            <br>
            <label for="libraryid">LibraryId:</label>
            <input type="text" id="libraryid" name="libraryid" required>
            <br>
            <label for="publisherid">PublisherId:</label>
            <textarea id="publisherid" name="publisherid" required></textarea>
            <br>
            <label for="authorid">AuthorId:</label>
            <textarea id="authorid" name="authorid" required></textarea>
            <br>
            <label for="genreid">GenreId:</label>
            <textarea id="genreid" name="genreid" required></textarea>
            <br>
            <input type="submit" value="Create Post">
        </form>
    {%else%}
        <h2>You are not an authorized staff member!</h2>
    {% endif %}
    {% endblock %}
</body>
</html>